{% extends 'base.html' %}

{% block title %}
  Записи сообщества {{ group }}
{% endblock %}

{% block content %}
  <!-- класс py-5 создает отступы сверху и снизу блока -->
  <div class="container py-5">

    <!-- Отображение 10 последних записей на странице группы -->
    <!-- переданных в виде списка в переменной posts -->
    {% for post in posts %}
      {% if forloop.first %} <h1>{{ post.group }}</h1> {% endif %}
      <ul>
        <li>
          Автор: {{ post.author.get_full_name }}
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>
      <p>{{ post.text }}</p>

      <!-- Если пост не последний, то рисуем разделительную линию -->
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}

    <!-- Ссылка на главную страницу -->
    <a href="{% url 'posts:index' %}">На главную</a>

  </div>
{% endblock %}
